@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Rammetto+One&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D; 
    --color-dark: #080C24; 
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-4: #F6F6F6;
    --color-editBtn: #82D8C6;
    --color-product-outofstock: #FE6C6C;
  
    --font-rammetto: 'Rammetto One', sans-serif;
    --font-audiowide: 'Audiowide', sans-serif;
    --font-orbitron: 'Orbitron', sans-serif;
    --font-kanit: 'Kanit', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;
  
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-orbitron);
  font-weight: var(--font-weight-regular);
  background-color: #f4f4f9;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    & h1 {
        margin: 30px auto;
    }

    & .pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        gap: 30px;

        & a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 70px;
            border: 1px solid black;
            border-radius: var(--border-radius-small);
            text-decoration: none;
            background-color: #fbdeed;
            font-size: 24px;
        }
    }

    & .machines {
        display: flex;
        flex-direction: column;
       // 
        align-items: start;
        width: 100%;
        gap: 30px;

        & .machine {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 50px;
            border: 1px solid #28a745;
            background-color: #e9ecef;
            border-radius: 4px;
            width: 100% !important;

            & h3 {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 100%;
                height: 50px;
            }

            & .drag-drop-container {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                gap: 10px;

                & .drag-box {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    //border: 1px solid gray;
                    
            
                    & input[type="text"] {
                        width: 100%;
                        margin-bottom: 10px;
                        padding: 5px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
            
                    & button {
                        padding: 5px 10px;
                        cursor: pointer;
                        margin-bottom: 20px;
                    }
            
                    & .drag-box-items {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        flex-wrap: wrap;
                        grid-auto-columns: auto;
                        gap: 10px;
                        max-height: 600px;
                        overflow-y: auto;
            
                        & .drag-box-item {
                            border: 2px dashed #007bff;
                            background-color: #defafb;
                            width: 1fr;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                }

                & .line {
                    border: 1px solid black;
                }
    
                & .drop-box {
                    display: flex;
                    flex-direction: column;
                    flex: 2;
                    justify-content: start;
                    padding: 0;
                    gap: 10px;

                    & .pipe {
                        display: flex;
                        list-style-type: none;
                        padding: 10px;
                        background-color: #fff;
                        border: 2px solid #007bff;
                        border-radius: 20px;
                        min-height: 70px;
                        gap: 5px;
                        cursor: pointer;

                        & .pipe-number {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #007bff;
                            border-radius: 50%;
                            font-weight: 600;
                            height: 50px;
                            width: 50px;
                        }

                        & ul {
                            display: flex;
                           flex-direction: column;
                            padding-left: 5px;
                            gap: 15px;
                            
    
                            & .wish-item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;

                                & .wish-item-info {
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid black;
                                    border-radius: 12px;
                                    padding: 0 10px;
                                    height: 50px;

                                    & h4 {
                                        min-width: 150px;
                                        margin: 0;
                                    }
        
                                    & h6 {
                                        position: absolute;
                                        bottom: -15px;
                                        right: 20px;
                                        font-size: 10px;
                                        background-color: white;
                                        padding: 0 10px;
                                    }
    
                                    & select {
                                       font-size: 20px;
                                    }
                                }
    
                                & button {
                                    right: -55px;
                                    height: 50px;
                                    width: 50px;
                                    border: 1px solid black;
                                    border-radius: 12px;
                                    font-size: 32px;
                                    background-color: #FE6C6C;
                                    color: white;
                                }
                            }    
                        }

                        &:hover {
                            background-color: #f1f1f1;

                            & ul {
                                & .wish-item {
                                    & .wish-item-info {
                                        & h6 {
                                            background-color: #f1f1f1;
                                        }

                                        & select {
                                            background-color: #f1f1f1;
                                        }
                                    }
                                }    
                            }
                        }
                    }
                }
            }
        }       
    }

    & .wishlist {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style-type: none;
        padding: 0;

        li {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: left;
            background-color: #fff;
            margin: 5px 0;
            height: 70px;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            gap: 10px;

            & .fa-arrow-right {
                font-size: 30px;
                margin: 0 20px;
            }

            & .fa-angle-right {
                font-size: 30px;
            }

            & .wish-material {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                background-color: #e9f9fb;
                height: 50px;
                min-width: 150px;
                border: 1px solid black;
                border-radius: 4px;
            }

            & .wish-machine {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                background-color: #f9ffdd;
                height: 50px;
                width: 50px;
                border: 1px solid black;
                border-radius: 50%;
            }
        
            & .wish-pipe {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                background-color: #e9f9fb;
                height: 50px;
                width: 50px;
                border: 1px solid black;
                border-radius: 50%;
            }

            & .wish-urgency {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                background-color: #e9f9fb;
                height: 50px;
                width: 150px;
                border: 1px dashed black;
                border-radius: 4px;

                & span {
                    position: absolute;
                    bottom: -10px;
                    display: flex;
                    background-color: white;
                    padding: 0 5px;
                    border: 1px dashed black;
                    border-radius: 4px;
                    font-size: 10px;
                }
            }

            @keyframes flash {
                0% { background-color: red; }
                50% { background-color: rgb(251, 251, 251); color: rgb(0, 0, 0); }
                100% { background-color: red; }
            }
              
            .urgency-asap {
                animation: flash 1s infinite;
            }
              
            & .urgency-15min {
                background-color: orange;
            }
              
            & .urgency-30min {
                background-color: yellow;
                color: black; /* Black text for better readability */
            }
              
            & .urgency-1timme {
                background-color: rgb(92, 219, 92);
            }

            &:hover .delete-button,
            &:focus-within .delete-button {
                opacity: 1;
            }

            & button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: 600;
            //    background-color: #4efb09;
                border-radius: 50%;
                right: -60px;
                height: 50px;
                width: 50px;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
      
        & p {
          margin: 0;
          padding: 0;
      
          & a {
            font-size: 16px;
            font-weight: 600;
            margin: 0 10px;
            color: (var(--color-dark));
            text-decoration: none;
          }
        }
    }
}